cjfw-wms-com/src/main/java/cjfw/wms/webservice/exDCClose/SI_SCM0530_SCM_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_SCM0530_SCM_SO"
	targetNamespace="urn://scm.cjfreshway.co.kr/MM" xmlns:p1="urn://scm.cjfreshway.co.kr/MM"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_SCM0530_SCM_SO" />
	<wsdl:types>
		<xsd:schema targetNamespace="urn://scm.cjfreshway.co.kr/MM"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn://scm.cjfreshway.co.kr/MM">
			<xsd:element name="MT_SCM0530_SCM_response" type="DT_SCM0530_SCM_response" />
			<xsd:element name="MT_SCM0530_SCM" type="DT_SCM0530_SCM" />
			<xsd:complexType name="DT_SCM0530_SCM">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">e98112871e4c11e6cd0a0000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="XROWS" type="xsd:string" minOccurs="0" />
					<xsd:element name="XSYS" type="xsd:string" minOccurs="0" />
					<xsd:element name="XDATS" type="xsd:string" minOccurs="0" />
					<xsd:element name="XTIMS" type="xsd:string" minOccurs="0" />
					<xsd:element name="IF_IB_STOCKSKU_H" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ZMONTH" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="SEQ" type="xsd:string" minOccurs="0" />
								<xsd:element name="ZCAT" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="LGORT" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="WERKS" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="MATNR" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="FRBNR" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="HISTNO" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZEBELN" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZEBELP" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="BUDAT" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZWRBTR_OUT" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZWRBTR_IN" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="WRBTR" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="MENGE" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="BSTME" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZTEXT1" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZTEXT2" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZTEXT3" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZTEXT4" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZTEXT5" type="xsd:string"
									minOccurs="0" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_SCM0530_SCM_response">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">5c2041cd1e4d11e69f8a0000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="XSTAT" type="xsd:string" minOccurs="0" />
					<xsd:element name="XMSGS" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_SCM0530_SCM">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0530_SCM" element="p1:MT_SCM0530_SCM" />
	</wsdl:message>
	<wsdl:message name="MT_SCM0530_SCM_response">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0530_SCM_response" element="p1:MT_SCM0530_SCM_response" />
	</wsdl:message>
	<wsdl:portType name="SI_SCM0530_SCM_SO">
		<wsdl:documentation />
		<wsdl:operation name="SI_SCM0530_SCM_SO">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_SCM0530_SCM_SO" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_SCM0530_SCM" />
			<wsdl:output message="p1:MT_SCM0530_SCM_response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_SCM0530_SCM_SOBinding" type="p1:SI_SCM0530_SCM_SO">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_SCM0530_SCM_SO">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_SCM0530_SCM_SOService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_SCM0530_SCM_SOBinding">
			<soap:address
				location="http://fwpidev.cjfreshway.co.kr:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0530_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:SI_SCM0530_SCM_SOBinding">
			<soap:address
				location="https://fwpidev.cjfreshway.co.kr:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0530_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>