cjfw-wms-com/src/main/java/cjfw/wms/webservice/exDCMonthlyFee/SI_SCM0470_SCM_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_SCM0470_SCM_SO"
	targetNamespace="urn://scm.cjfreshway.co.kr/MM" xmlns:p1="urn://scm.cjfreshway.co.kr/MM"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_SCM0470_SCM_SO" />
	<wsdl:types>
		<xsd:schema targetNamespace="urn://scm.cjfreshway.co.kr/MM"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn://scm.cjfreshway.co.kr/MM">
			<xsd:element name="MT_SCM0470_SCM" type="DT_SCM0470_SCM" />
			<xsd:element name="MT_SCM0470_SCM_response" type="DT_SCM0470_SCM_response" />
			<xsd:complexType name="DT_SCM0470_SCM">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">a1ec09ce3d0a11e6b3cf0000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="IF_IB_STOCKSKU_H" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a092ec573d0a11e6aa87104a7d0c087c
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ZINVOICE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092618d3d0a11e6cc03104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZCAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09295003d0a11e6ad8a104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZSEQ" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">edbc88403d0a11e6b27a104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZLAST" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">edbc88413d0a11e68c4d104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XRECH" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09295013d0a11e69d35104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUKRS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09295023d0a11e6b026104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="LIFNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09295033d0a11e6c32f104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EMPFB" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092aca23d0a11e696cd104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BLDAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092aca33d0a11e687b8104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUDAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092aca43d0a11e6ce3e104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WAERS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092aca53d0a11e69b67104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MWSKZ1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092aca63d0a11e6cdcd104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTERM" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092aca73d0a11e69651104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZFBDT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092aca83d0a11e6a1cc104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="RMWWR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092aca93d0a11e6b3a2104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WMWST1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092acaa3d0a11e68c88104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="KIDNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092acab3d0a11e6a1d6104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BKTXT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092acac3d0a11e680cf104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZGUBUN" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092acad3d0a11e6c45d104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZBILLNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092acae3d0a11e688bb104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CARD_NO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092acaf3d0a11e690a2104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="APPR_DATE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092acb03d0a11e69aa8104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="APPR_DOCU" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092acb13d0a11e6a110104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CNCL_FLAG" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092acb23d0a11e69a18104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SELL_DOCU" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092ec4e3d0a11e68d52104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092ec4f3d0a11e68390104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT2" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092ec503d0a11e68976104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT3" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092ec513d0a11e69884104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT4" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092ec523d0a11e6b544104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT5" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092ec533d0a11e6bc39104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XDATS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092ec543d0a11e6b708104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XTIMS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092ec553d0a11e6a1ee104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XUSER" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092ec563d0a11e6bd95104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="IF_IB_STOCKSKU_D" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a0936a263d0a11e69ce1104a7d0c087c
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ZINVOICE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092fc073d0a11e6b911104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZCAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092fc083d0a11e68c9b104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZSEQ" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="BUZEI" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a092fc093d0a11e6b5be104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="GL_ACCOUNT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09333033d0a11e6bb17104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MWSKZ" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09333043d0a11e6afa5104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PROFIT_CTR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09333053d0a11e68115104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SHKZG" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09333063d0a11e69eee104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WRBTR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09333073d0a11e6cdf4104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MATNR" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="MENGE" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="BSTME" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZEBELN" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZEBELP" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZTEXT1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09344e83d0a11e69115104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT2" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09344e93d0a11e6836a104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT3" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09344ea3d0a11e69c84104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT4" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09344eb3d0a11e6bdc8104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT5" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a09344ec3d0a11e6b273104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="IF_IB_STOCKSKU_BILL" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a093eb163d0a11e6a1db104a7d0c087c
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ZINVOICE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a0936a273d0a11e6aa5f104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZCAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a0936a283d0a11e6af4c104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="LGORT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a0936a293d0a11e6c9c1104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WERKS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a0936a2a3d0a11e6b94c104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MATNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093a3053d0a11e6944c104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="FRBNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093a3063d0a11e69996104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="HISTNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093a3073d0a11e6bc69104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZEBELN" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093a3083d0a11e68e60104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZEBELP" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093a3093d0a11e6bf8c104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZWRBTR_OUT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093a30a3d0a11e6ba89104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZWRBTR_IN" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093c33b3d0a11e6bac7104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WRBTR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093c33c3d0a11e68e77104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MENGE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093c33d3d0a11e6905a104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BSTME" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093c33e3d0a11e68fc5104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="IF_IB_STOCKSKU_FILE" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a094280f3d0a11e6accf104a7d0c087c
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="BUKRS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093eb173d0a11e6aee3104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZSYST" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093eb183d0a11e6a63b104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="IF_NO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093eb193d0a11e6b519104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SEQ" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a093eb1a3d0a11e6b70b104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZDOCNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a0941db33d0a11e6a07c104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZEVID1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a0941db43d0a11e68181104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZDOCTYPE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a0941db53d0a11e69fe2104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZATTID" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a0941db63d0a11e68e1d104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZREQUESTNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a0941db73d0a11e6b383104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZCATEGORY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">a0941db83d0a11e6cba4104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_SCM0470_SCM_response">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">47b281e3165511e6ae170000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="T_RETURN" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">e5410e9f165611e68de7e81132502519
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="XSTAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">fba70637165611e6c7f2e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XMSGS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">fba70638165611e69138e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZINVOICE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">fba70639165611e684c3e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZRETURN" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">fba7063a165611e6b4b7e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZRE_BELNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">fba7063b165611e6aa55e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_SCM0470_SCM">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0470_SCM" element="p1:MT_SCM0470_SCM" />
	</wsdl:message>
	<wsdl:message name="MT_SCM0470_SCM_response">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0470_SCM_response" element="p1:MT_SCM0470_SCM_response" />
	</wsdl:message>
	<wsdl:portType name="SI_SCM0470_SCM_SO">
		<wsdl:documentation />
		<wsdl:operation name="SI_SCM0470_SCM_SO">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_SCM0470_SCM_SO" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_SCM0470_SCM" />
			<wsdl:output message="p1:MT_SCM0470_SCM_response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_SCM0470_SCM_SOBinding" type="p1:SI_SCM0470_SCM_SO">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_SCM0470_SCM_SO">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_SCM0470_SCM_SOService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_SCM0470_SCM_SOBinding">
			<soap:address
				location="http://fwpidev.cjfreshway.co.kr:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0470_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:SI_SCM0470_SCM_SOBinding">
			<soap:address
				location="https://fwpidev.cjfreshway.co.kr:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0470_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>