cjfw-wms-batch/src/main/resources/wsdl/SI_SCM0110_SCM_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_SCM0110_SCM_SO"
	targetNamespace="urn://scm.cjfreshway.co.kr/MM" xmlns:p1="urn://scm.cjfreshway.co.kr/MM"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_SCM0110_SCM_SO" />
	<wsdl:types>
		<xsd:schema targetNamespace="urn://scm.cjfreshway.co.kr/MM"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn://scm.cjfreshway.co.kr/MM">
			<xsd:element name="MT_SCM0110_SCM" type="DT_SCM0110_SCM" />
			<xsd:element name="MT_SCM0110_SCM_response" type="DT_SCM0110_SCM_response" />
			<xsd:complexType name="DT_SCM0110_SCM">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">669ae1c1ca3011e5a7640000003f7c26
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="XROWS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XSYS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XDATS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XTIMS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IF_DM_SENDDATA_H" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="POKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DOCNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">1e290643243b11e5a0b5e8039a099235
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EFFECTIVEDATE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POSTINGDATE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PLANT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EDITDATE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EDITWHO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CLOSECD" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="IF_DM_SENDDATA_D" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="POKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DOCNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DOCLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SKU" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORAGELOC" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STOREROPENQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONFIRMQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORERCONFIRMQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORERCANCELQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="REASONCODE2" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="UOM" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORERUOM" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STATUS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SLIPNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SLIPLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONFIRMWEIGHT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="IF_ST_STOCK_SERIALINFO_S" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="POKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DP_DOCNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DP_DOCLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STOCKID" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SKU" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PLANT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORAGELOC" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONVSERIALNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SERIALNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONFIRMQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CANCELQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="UOM" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DP_SLIPNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DP_SLIPLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ETC_QTY" type="xsd:string"
									minOccurs="0" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_SCM0110_SCM_response">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">a03d3b6520a411e59bf40000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="T_RETURN" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="POKEY" type="xsd:string" />
								<xsd:element name="IF_FLAG" type="xsd:string" />
								<xsd:element name="IF_MEMO" type="xsd:string" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_SCM0110_SCM">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0110_SCM" element="p1:MT_SCM0110_SCM" />
	</wsdl:message>
	<wsdl:message name="MT_SCM0110_SCM_response">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0110_SCM_response" element="p1:MT_SCM0110_SCM_response" />
	</wsdl:message>
	<wsdl:portType name="SI_SCM0110_SCM_SO">
		<wsdl:documentation />
		<wsdl:operation name="SI_SCM0110_SCM_SO">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_SCM0110_SCM_SO" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_SCM0110_SCM" />
			<wsdl:output message="p1:MT_SCM0110_SCM_response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_SCM0110_SCM_SOBinding" type="p1:SI_SCM0110_SCM_SO">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_SCM0110_SCM_SO">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_SCM0110_SCM_SOService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_SCM0110_SCM_SOBinding">
			<soap:address
				location="http://fwpidev.cjfreshway.co.kr:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0110_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:SI_SCM0110_SCM_SOBinding">
			<soap:address
				location="https://fwpidev.cjfreshway.co.kr:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0110_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>