cjfw-wms-batch/src/main/resources/wsdl/SI_SCM0060_SCM_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_SCM0060_SCM_SO"
	targetNamespace="urn://scm.cjfreshway.co.kr/SD" xmlns:p1="urn://scm.cjfreshway.co.kr/SD"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_SCM0060_SCM_SO" />
	<wsdl:types>
		<xsd:schema targetNamespace="urn://scm.cjfreshway.co.kr/SD"
			xmlns="urn://scm.cjfreshway.co.kr/SD" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="MT_SCM0060_SCM" type="DT_SCM0060_SCM" />
			<xsd:element name="MT_SCM0060_SCM_response" type="DT_SCM0060_SCM_response" />
			<xsd:complexType name="DT_SCM0060_SCM_response">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">9f0679dd209811e5b1d60000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="XSTAT" type="xsd:string" />
					<xsd:element name="XMSGS" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_SCM0060_SCM">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">b17aaf3106ae11e6b6ec0000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="XROWS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XSYS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XDATS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XTIMS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IF_DM_SENDDATA" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="SERIALKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SLIPDT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SLIPNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SLIPLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DOCDT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DOCTYPE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DOCNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DOCLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DCCODE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">4022e06bae2011e5c0a4104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SITE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PLANT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORAGELOC" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SKU" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STOREROPENQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORERCONFIRMQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORERCANCELQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORERUOM" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="UOM" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONFIRMQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STOCKGRADE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CHANNEL" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="REASONCODE2" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="REASONMSG2" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONFIRMWEIGHT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DEL_YN" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EDITDATE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EDITWHO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CLOSECD" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="IF_ST_STOCK_SERIALINFO_S" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="SERIALKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WD_DOCNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WD_DOCLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WD_DOCDT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SERIALNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONVSERIALNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SHIPPEDQTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">fe6f53c4d60111e587fd104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">132fcda6457b11e5a08ae8039a0523ce
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EDITDATE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EDITWHO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ETC_QTY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">b1a6fdf806ae11e6cecb104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORAGE_AMOUNT" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ETC_AMOUNT" type="xsd:string"
									minOccurs="0" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_SCM0060_SCM">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0060_SCM" element="p1:MT_SCM0060_SCM" />
	</wsdl:message>
	<wsdl:message name="MT_SCM0060_SCM_response">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0060_SCM_response" element="p1:MT_SCM0060_SCM_response" />
	</wsdl:message>
	<wsdl:portType name="SI_SCM0060_SCM_SO">
		<wsdl:documentation />
		<wsdl:operation name="SI_SCM0060_SCM_SO">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_SCM0060_SCM_SO" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_SCM0060_SCM" />
			<wsdl:output message="p1:MT_SCM0060_SCM_response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_SCM0060_SCM_SOBinding" type="p1:SI_SCM0060_SCM_SO">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_SCM0060_SCM_SO">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_SCM0060_SCM_SOService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_SCM0060_SCM_SOBinding">
			<soap:address
				location="http://fwpidev.cjfreshway.co.kr:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0060_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FSD"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:SI_SCM0060_SCM_SOBinding">
			<soap:address
				location="https://fwpidev.cjfreshway.co.kr:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0060_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FSD"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>