cjfw-wms-batch/src/main/resources/wsdl/SI_SHR0250_EAI_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_SHR0250_EAI_SO"
	targetNamespace="urn://shr.cjfreshway.co.kr/COMM" xmlns:p1="urn://shr.cjfreshway.co.kr/COMM"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_SHR0250_EAI_SO" />
	<wsdl:types>
		<xsd:schema targetNamespace="urn://shr.cjfreshway.co.kr/COMM"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn://shr.cjfreshway.co.kr/COMM">
			<xsd:element name="MT_SHR0250_EAI_response" type="DT_SHR0250_EAI_response" />
			<xsd:element name="MT_SHR0250_EAI" type="DT_SHR0250_EAI" />
			<xsd:complexType name="DT_SHR0250_EAI">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">cdbac31646d911e5a1320000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="XSYS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ccbe422f46d911e59647e8039a0523ce
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XDATS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ccbe423046d911e5a145e8039a0523ce
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XTIMS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ccbe423146d911e5915ee8039a0523ce
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="T_PARAM" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">4902f3f2373a11e5af9ae8039a099235
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="CUID" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">4902f3ec373a11e59fabe8039a099235
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MSG" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">4902f3ed373a11e58794e8039a099235
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EXT1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">4902f3ee373a11e59d23e8039a099235
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EXT2" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">4902f3ef373a11e59145e8039a099235
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EXT3" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">4902f3f0373a11e58132e8039a099235
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EXT4" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">4902f3f1373a11e5a84ce8039a099235
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MID" type="xsd:string" minOccurs="0" />
								<xsd:element name="SEQ" type="xsd:string" minOccurs="0" />
								<xsd:element name="SENDDATE" type="xsd:string"
									minOccurs="0" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_SHR0250_EAI_response">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">873fa874373a11e5a0890000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="XSTAT" type="xsd:string" minOccurs="0" />
					<xsd:element name="XMSGS" type="xsd:string" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_SHR0250_EAI">
		<wsdl:documentation />
		<wsdl:part name="MT_SHR0250_EAI" element="p1:MT_SHR0250_EAI" />
	</wsdl:message>
	<wsdl:message name="MT_SHR0250_EAI_response">
		<wsdl:documentation />
		<wsdl:part name="MT_SHR0250_EAI_response" element="p1:MT_SHR0250_EAI_response" />
	</wsdl:message>
	<wsdl:portType name="SI_SHR0250_EAI_SO">
		<wsdl:documentation />
		<wsdl:operation name="SI_SHR0250_EAI_SO">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_SHR0250_EAI_SO" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_SHR0250_EAI" />
			<wsdl:output message="p1:MT_SHR0250_EAI_response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_SHR0250_EAI_SOBinding" type="p1:SI_SHR0250_EAI_SO">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_SHR0250_EAI_SO">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_SHR0250_EAI_SOService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_SHR0250_EAI_SOBinding">
			<soap:address
				location="http://fwpidev.cjfreshway.co.kr:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EAI_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SHR0250_EAI_SO&amp;interfaceNamespace=urn%3A%2F%2Fshr.cjfreshway.co.kr%2FCOMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:SI_SHR0250_EAI_SOBinding">
			<soap:address
				location="https://fwpidev.cjfreshway.co.kr:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EAI_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SHR0250_EAI_SO&amp;interfaceNamespace=urn%3A%2F%2Fshr.cjfreshway.co.kr%2FCOMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>