cjfw-wms-batch/src/main/resources/wsdl/SI_SCM0320_SCM_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_SCM0320_SCM_SO"
	targetNamespace="urn://scm.cjfreshway.co.kr/MM" xmlns:p1="urn://scm.cjfreshway.co.kr/MM"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_SCM0320_SCM_SO" />
	<wsdl:types>
		<xsd:schema targetNamespace="urn://scm.cjfreshway.co.kr/MM"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn://scm.cjfreshway.co.kr/MM">
			<xsd:element name="MT_SCM0320_SCM" type="DT_SCM0320_SCM" />
			<xsd:element name="MT_SCM0320_SCM_response" type="DT_SCM0320_SCM_response" />
			<xsd:complexType name="DT_SCM0320_SCM">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">67a87892164b11e6c83f0000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="XROWS" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">42cc5f554a3b11e58beee8039a0523ce
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XSYS" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">42cc5f564a3b11e5abcee8039a0523ce
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XDATS" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">42cc5f574a3b11e5c541e8039a0523ce
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XTIMS" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">42cc5f584a3b11e5c117e8039a0523ce
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ITEM" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="IF_TIMESTAMP" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">eabffb9336ab11e5ab25e8039a0523ce
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DOCNO" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="DOCLINE" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PLANT" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STOCKTRANSTYPE" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EFFECTIVEDATE" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POSTINGDATE" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STORAGELOC" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SKU" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONFIRMQTY" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="UOM" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">608b14b0f3fb11db9e68000d600bbdc5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="REASONCODE2" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">9da6e0dafaa611e487c4e8039a04a9a5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="OTHER03" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">9da6e0dbfaa611e4c8efe8039a04a9a5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="REFERENCE07" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">9da6e0dcfaa611e4a903e8039a04a9a5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POKEY" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">b80d9ac6cae011e5cefc104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POLINE" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">9da6e0ddfaa611e4b216e8039a04a9a5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="REFERENCE08" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">9da6e0defaa611e4a382e8039a04a9a5
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SLIPNO" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">07cfda2a130311e5cb1ee8039a099235
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CUSTKEY" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">aad744d8521311e587b9f816546359a6
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SLIPLINE" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">07cfda2b130311e5cd95e8039a099235
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CLOSECD" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">ed0fa081a45811e58b9f104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="REFERENCE05" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">65e85f9c164b11e6c106e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STOCK_AMOUNT" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">65e85f9d164b11e6b4cae81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ETC_AMOUNT" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">65e85f9e164b11e6c63be81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_SCM0320_SCM_response">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">bad080e236ad11e5ce0b0000003f7c26
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="ITEM_RET" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">a8e2635dfa0011e4ab3fe8039a099235
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="IF_TIMESTAMP" type="xsd:string" />
								<xsd:element name="DOCNO" type="xsd:string" />
								<xsd:element name="DOCLINE" type="xsd:string" />
								<xsd:element name="PLANT" type="xsd:string" />
								<xsd:element name="STOCKTRANSTYPE" type="xsd:string" />
								<xsd:element name="IF_FLAG" type="xsd:string" />
								<xsd:element name="IF_MEMO" type="xsd:string" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_SCM0320_SCM">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0320_SCM" element="p1:MT_SCM0320_SCM" />
	</wsdl:message>
	<wsdl:message name="MT_SCM0320_SCM_response">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0320_SCM_response" element="p1:MT_SCM0320_SCM_response" />
	</wsdl:message>
	<wsdl:portType name="SI_SCM0320_SCM_SO">
		<wsdl:documentation />
		<wsdl:operation name="SI_SCM0320_SCM_SO">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_SCM0320_SCM_SO" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_SCM0320_SCM" />
			<wsdl:output message="p1:MT_SCM0320_SCM_response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_SCM0320_SCM_SOBinding" type="p1:SI_SCM0320_SCM_SO">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_SCM0320_SCM_SO">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_SCM0320_SCM_SOService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_SCM0320_SCM_SOBinding">
			<soap:address
				location="http://fwpiqas.cjfreshway.co.kr:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0320_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:SI_SCM0320_SCM_SOBinding">
			<soap:address
				location="https://fwpiqas.cjfreshway.co.kr:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_QAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0320_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>