cjfw-wms-com/src/main/java/cjfw/wms/webservice/exDCExpenseStatus/SI_SCM0520_SCM_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_SCM0520_SCM_SO"
	targetNamespace="urn://scm.cjfreshway.co.kr/SRMIE" xmlns:p1="urn://scm.cjfreshway.co.kr/SRMIE"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_SCM0520_SCM_SO" />
	<wsdl:types>
		<xsd:schema targetNamespace="urn://scm.cjfreshway.co.kr/SRMIE"
			xmlns="urn://scm.cjfreshway.co.kr/SRMIE" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="MT_SCM0520_SCM" type="DT_SCM0520_SCM" />
			<xsd:element name="MT_SCM0520_SCM_response" type="DT_SCM0520_SCM_response" />
			<xsd:complexType name="DT_SCM0520_SCM_response">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">db63fe901bca11e6c98e0000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="XSTAT" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">d466634e1bca11e6b8afe81132502519
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XMSGS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">d466634f1bca11e6b701e81132502519
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="T_MASTER" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeb81bcb11e6b392e81132502519
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="POKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeab1bcb11e6be41e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeac1bcb11e6b4a3e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SKU" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbead1bcb11e690a4e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONVSERIALNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeae1bcb11e6cb06e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CUSTKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeaf1bcb11e6941de81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STANDARD_DATE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeb01bcb11e68183e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PAYMENT_CODE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeb11bcb11e68d0fe81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="PAYMENT_NAME" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeb21bcb11e68647e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BASE_DATE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeb31bcb11e6b33ae81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="QTY" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeb41bcb11e6a165e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="UOM" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeb51bcb11e6cddae81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="AMOUNT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeb61bcb11e691ece81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="AMOUNT_UNIT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">2e1fbeb71bcb11e6b648e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="T_DETAIL" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="TCSPOKEY" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="POKEY" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="SKU" type="xsd:string" minOccurs="0" />
								<xsd:element name="CUSTKEY" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="QTY" type="xsd:string" minOccurs="0" />
								<xsd:element name="UOM" type="xsd:string" minOccurs="0" />
								<xsd:element name="AMOUNT" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="AMOUNT_UNIT" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ACCOUNT_DETAIL_CODE" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ACCOUNT_DETAIL_NAME" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="BASE_DATE" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="DOCTYPE" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="DOCNO" type="xsd:string"
									minOccurs="0" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_SCM0520_SCM">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">9f76ae991bca11e6c4b40000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="XROWS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">d466634e1bca11e6b8afe81132502519
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XSYS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">d466634f1bca11e6b701e81132502519
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XDATS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">d46663501bca11e6a4c2e81132502519
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="XTIMS" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">d46663511bca11e6ac7ae81132502519
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="T_MASTER" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">f65388be1bca11e69bb3e81132502519
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="POKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f6535f731bca11e6aa08e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="POLINE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f6535f741bca11e6a897e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SKU" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f6535f751bca11e6c7e5e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CONVSERIALNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f6535f761bca11e6825be81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CUSTKEY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f6535f771bca11e6aabfe81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STANDARD_DATE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">f65388bd1bca11e69854e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_SCM0520_SCM">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0520_SCM" element="p1:MT_SCM0520_SCM" />
	</wsdl:message>
	<wsdl:message name="MT_SCM0520_SCM_response">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0520_SCM_response" element="p1:MT_SCM0520_SCM_response" />
	</wsdl:message>
	<wsdl:portType name="SI_SCM0520_SCM_SO">
		<wsdl:documentation />
		<wsdl:operation name="SI_SCM0520_SCM_SO">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_SCM0520_SCM_SO" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_SCM0520_SCM" />
			<wsdl:output message="p1:MT_SCM0520_SCM_response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_SCM0520_SCM_SOBinding" type="p1:SI_SCM0520_SCM_SO">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_SCM0520_SCM_SO">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_SCM0520_SCM_SOService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_SCM0520_SCM_SOBinding">
			<soap:address
				location="http://fwpidev.cjfreshway.co.kr:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0520_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FSRMIE"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:SI_SCM0520_SCM_SOBinding">
			<soap:address
				location="https://fwpidev.cjfreshway.co.kr:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0520_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FSRMIE"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>