cjfw-wms-com/src/main/java/cjfw/wms/webservice/sso/SSO_NON_SAP_EAI.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://webservice.sso.jwork" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://webservice.sso.jwork/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice.sso.jwork">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://webservice.sso.jwork/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.sso.jwork">
            <xs:import namespace="http://webservice.sso.jwork/xsd"/>
            <xs:element name="GET_SSO_TICKET">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="NON_SAP_REQ" nillable="true" type="ax21:SSO_NON_SAP_REQUEST"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GET_SSO_TICKETResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SSO_NON_SAP_RESPONSE"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.sso.jwork/xsd">
            <xs:complexType name="SSO_NON_SAP_REQUEST">
                <xs:sequence>
                    <xs:element minOccurs="0" name="INT_SVC_NO" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="XDATS" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="XROWS" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="XSYS" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="XTIMS" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZSYST_FR" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ZSYST_TO" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SSO_NON_SAP_RESPONSE">
                <xs:sequence>
                    <xs:element minOccurs="0" name="INT_SVC_NO" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="SSO_TICKET" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="XMSGS" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="XSTAT" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GET_SSO_TICKETRequest">
        <wsdl:part name="parameters" element="ns:GET_SSO_TICKET"/>
    </wsdl:message>
    <wsdl:message name="GET_SSO_TICKETResponse">
        <wsdl:part name="parameters" element="ns:GET_SSO_TICKETResponse"/>
    </wsdl:message>
    <wsdl:portType name="SSO_NON_SAP_EAIPortType">
        <wsdl:operation name="GET_SSO_TICKET">
            <wsdl:input message="ns:GET_SSO_TICKETRequest" wsaw:Action="urn:GET_SSO_TICKET"/>
            <wsdl:output message="ns:GET_SSO_TICKETResponse" wsaw:Action="urn:GET_SSO_TICKETResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SSO_NON_SAP_EAISoap11Binding" type="ns:SSO_NON_SAP_EAIPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="GET_SSO_TICKET">
            <soap:operation soapAction="urn:GET_SSO_TICKET" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SSO_NON_SAP_EAISoap12Binding" type="ns:SSO_NON_SAP_EAIPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="GET_SSO_TICKET">
            <soap12:operation soapAction="urn:GET_SSO_TICKET" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SSO_NON_SAP_EAIHttpBinding" type="ns:SSO_NON_SAP_EAIPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="GET_SSO_TICKET">
            <http:operation location="GET_SSO_TICKET"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SSO_NON_SAP_EAI">
        <wsdl:port name="SSO_NON_SAP_EAIHttpSoap11Endpoint" binding="ns:SSO_NON_SAP_EAISoap11Binding">
            <soap:address location="http://ssodev.ifresh.co.kr:9800/ssoserver/services/SSO_NON_SAP_EAI.SSO_NON_SAP_EAIHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SSO_NON_SAP_EAIHttpSoap12Endpoint" binding="ns:SSO_NON_SAP_EAISoap12Binding">
            <soap12:address location="http://ssodev.ifresh.co.kr:9800/ssoserver/services/SSO_NON_SAP_EAI.SSO_NON_SAP_EAIHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SSO_NON_SAP_EAIHttpEndpoint" binding="ns:SSO_NON_SAP_EAIHttpBinding">
            <http:address location="http://ssodev.ifresh.co.kr:9800/ssoserver/services/SSO_NON_SAP_EAI.SSO_NON_SAP_EAIHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
