cjfw-wms-com/src/main/java/cjfw/wms/webservice/exDCSlipCancel/SI_SCM0510_SCM_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_SCM0510_SCM_SO"
	targetNamespace="urn://scm.cjfreshway.co.kr/MM" xmlns:p1="urn://scm.cjfreshway.co.kr/MM"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_SCM0510_SCM_SO" />
	<wsdl:types>
		<xsd:schema targetNamespace="urn://scm.cjfreshway.co.kr/MM"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn://scm.cjfreshway.co.kr/MM">
			<xsd:element name="MT_SCM0510_SCM_response" type="DT_SCM0510_SCM_response" />
			<xsd:element name="MT_SCM0510_SCM" type="DT_SCM0510_SCM" />
			<xsd:complexType name="DT_SCM0510_SCM_response">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">0743ac7817f811e6a8390000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="RETURN" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">c4b1f73d17f711e69e13e81132502519
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="XSTAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d5948e2917f711e6b10be81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XMSGS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d5948e2a17f711e68dc7e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZINVOICE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d5946a5d17f711e6b3c9e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BELNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d5948e2817f711e6b2fae81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZRETURN" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d5948e2b17f711e6820fe81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZRE_BELNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">d5948e2c17f711e68a39e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_SCM0510_SCM">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">5162e7be498111e6c5e00000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="IF_SAPSLIPCANCEL" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">c4b1f73d17f711e69e13e81132502519
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ZINVOICE" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">5081dbcd498111e6c6bb104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BELNR" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">5081fe9c498111e6b5c8104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="GJAHR" type="xsd:string">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">5081fe9d498111e6866c104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="STGRD" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">5081fe9e498111e6a910104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUDAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">5081fe9f498111e6a343104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZCLAIM" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">5081fea0498111e6b2a0104a7d0c087c
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUKRS" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="ZBILLNO" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="I_GB_D_K" type="xsd:string"
									minOccurs="0" />
								<xsd:element name="I_GUBUN" type="xsd:string"
									minOccurs="0" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_SCM0510_SCM">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0510_SCM" element="p1:MT_SCM0510_SCM" />
	</wsdl:message>
	<wsdl:message name="MT_SCM0510_SCM_response">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0510_SCM_response" element="p1:MT_SCM0510_SCM_response" />
	</wsdl:message>
	<wsdl:portType name="SI_SCM0510_SCM_SO">
		<wsdl:documentation />
		<wsdl:operation name="SI_SCM0510_SCM_SO">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_SCM0510_SCM_SO" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_SCM0510_SCM" />
			<wsdl:output message="p1:MT_SCM0510_SCM_response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_SCM0510_SCM_SOBinding" type="p1:SI_SCM0510_SCM_SO">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_SCM0510_SCM_SO">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_SCM0510_SCM_SOService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_SCM0510_SCM_SOBinding">
			<soap:address
				location="http://fwpidev.cjfreshway.co.kr:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0510_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:SI_SCM0510_SCM_SOBinding">
			<soap:address
				location="https://fwpidev.cjfreshway.co.kr:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0510_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>