cjfw-wms-com/src/main/java/cjfw/wms/webservice/exDCEtcFee/SI_SCM0480_SCM_SOService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_SCM0480_SCM_SO"
	targetNamespace="urn://scm.cjfreshway.co.kr/MM" xmlns:p1="urn://scm.cjfreshway.co.kr/MM"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation />
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="OP_SI_SCM0480_SCM_SO" />
	<wsdl:types>
		<xsd:schema targetNamespace="urn://scm.cjfreshway.co.kr/MM"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn://scm.cjfreshway.co.kr/MM">
			<xsd:element name="MT_SCM0480_SCM_response" type="DT_SCM0480_SCM_response" />
			<xsd:element name="MT_SCM0480_SCM" type="DT_SCM0480_SCM" />
			<xsd:complexType name="DT_SCM0480_SCM">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">7c3b046418b311e6b45c0000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="IF_IB_STOCKETC_H" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">75116c6518b311e69560e81132502519
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ZINVOICE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510ab8518b311e6a906e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZSEQ" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510bd1718b311e68183e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XRECH" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510bd1818b311e6c58be81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZLAST" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510bd1918b311e6a5e9e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUKRS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510bd1a18b311e6c854e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="LIFNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510bd1b18b311e6aa49e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="EMPFB" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510bd1c18b311e6a59be81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BLDAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510e58318b311e6c85ae81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUDAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510e58418b311e6a1e0e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WAERS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510e58518b311e6803ae81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MWSKZ1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510e58618b311e6824ee81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTERM" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510e58718b311e685f3e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZFBDT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510e58818b311e69874e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="RMWWR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7510e58918b311e6bf76e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WMWST1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511111718b311e6a772e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="KIDNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511111818b311e691c9e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BKTXT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511111918b311e69bace81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZGUBUN" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511111a18b311e6cc41e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZBILLNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511111b18b311e686e6e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CARD_NO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511111c18b311e68c3ee81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="APPR_DATE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511111d18b311e6c922e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="APPR_DOCU" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75112c1618b311e68b7de81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="CNCL_FLAG" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75112c1718b311e6aecce81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SELL_DOCU" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75112c1818b311e6c9c7e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75112c1918b311e6b3e8e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT2" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75112c1a18b311e6977fe81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT3" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75112c1b18b311e6967de81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT4" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75112c1c18b311e6957fe81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT5" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75116c6118b311e6bb9ee81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XDATS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75116c6218b311e6cedee81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XTIMS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75116c6318b311e69097e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XUSER" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75116c6418b311e6b320e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="IF_IB_STOCKETC_D" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">7512142818b311e6c7d3e81132502519
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ZINVOICE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511838c18b311e6cc0de81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BUZEI" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511838d18b311e6b526e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZSEQ" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511838e18b311e690b9e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MWSKZ" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511838f18b311e6abf4e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WRBTR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511839018b311e6a33ce81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="WERKS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511839118b311e6af9ce81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MATNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511aa1f18b311e6be66e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="FRBNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511aa2018b311e68a66e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="HISTNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511aa2118b311e69aeee81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZEBELN" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511aa2218b311e6870ae81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZEBELP" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7511aa2318b311e6cd36e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="MENGE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75120b0e18b311e6a965e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="BSTME" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75120b0f18b311e68874e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75120b1018b311e694a3e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT2" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75120b1118b311e682f4e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT3" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75120b1218b311e6c5e9e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT4" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75120b1318b311e6b4c1e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZTEXT5" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75120b1418b311e699aae81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="IF_IB_STOCKETC_FILE" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">75124e1818b311e6ac9ce81132502519
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="BUKRS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7512142918b311e694bde81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZSYST" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7512142a18b311e6bec2e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="IF_NO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7512142b18b311e6c652e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="SEQ" type="xsd:string" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">7512142c18b311e6a85ee81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZDOCNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75124e1218b311e6bc37e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZEVID1" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75124e1318b311e6b047e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZDOCTYPE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75124e1418b311e6a177e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZATTID" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75124e1518b311e68acde81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZREQUESTNO" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75124e1618b311e6991ae81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZCATEGORY" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">75124e1718b311e69573e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DT_SCM0480_SCM_response">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">aff5522d18b311e6a9d80000003f7c27
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="IF_IB_STOCKETC_H_RET" minOccurs="0"
						maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">ad04b6d418b311e6992ce81132502519
							</xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ZINVOICE" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">ad04b6cf18b311e6cc08e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XSTAT" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">ad04b6d018b311e69e24e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="XMSGS" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">ad04b6d118b311e69552e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZRETURN" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">ad04b6d218b311e6b199e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="ZRE_BELNR" type="xsd:string"
									minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo source="http://sap.com/xi/TextID">ad04b6d318b311e686a0e81132502519
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_SCM0480_SCM">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0480_SCM" element="p1:MT_SCM0480_SCM" />
	</wsdl:message>
	<wsdl:message name="MT_SCM0480_SCM_response">
		<wsdl:documentation />
		<wsdl:part name="MT_SCM0480_SCM_response" element="p1:MT_SCM0480_SCM_response" />
	</wsdl:message>
	<wsdl:portType name="SI_SCM0480_SCM_SO">
		<wsdl:documentation />
		<wsdl:operation name="SI_SCM0480_SCM_SO">
			<wsdl:documentation />
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_SI_SCM0480_SCM_SO" />
			</wsp:Policy>
			<wsdl:input message="p1:MT_SCM0480_SCM" />
			<wsdl:output message="p1:MT_SCM0480_SCM_response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SI_SCM0480_SCM_SOBinding" type="p1:SI_SCM0480_SCM_SO">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		<wsdl:operation name="SI_SCM0480_SCM_SO">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SI_SCM0480_SCM_SOService">
		<wsdl:port name="HTTP_Port" binding="p1:SI_SCM0480_SCM_SOBinding">
			<soap:address
				location="http://fwpidev.cjfreshway.co.kr:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0480_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
		<wsdl:port name="HTTPS_Port" binding="p1:SI_SCM0480_SCM_SOBinding">
			<soap:address
				location="https://fwpidev.cjfreshway.co.kr:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SCM_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SCM0480_SCM_SO&amp;interfaceNamespace=urn%3A%2F%2Fscm.cjfreshway.co.kr%2FMM"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>